html, body, h1, h2, h3, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
}

body {
  background: #233142;
  font-family: helvetica, arial, sans-serif;
  font-size: 13px;
  color: #333333;
  line-height: 1;
}

.list-type-tabs{
  display: flex;
  gap: 10px;
  padding: 10px 10px 5px 10px;
}
.list-type-tabs>li{
  list-style: none;
  padding: 5px;
  border: 1px solid #333333;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s;
}

.list-type-tabs>li:hover{
  transform: scale(1.02);
}

.list-type-tabs>.active{
  background-color: #333333;
  color: white;
}
.nav-buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.archive-toggle-btn{
  margin: 5px;
  padding: 5px 10px;
  background-color: bisque;
  border-radius: 15px;
  border: 1px solid #333;
}